body {
    margin: 0;
    background-color: #636363;
    font: 16px 'Avenir', 'Futura', sans-serif;
    color: #bdbdbd;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding-bottom: .7em;
}

a:link {
    text-decoration: none;
}

#name {
    font-weight: bold;
    font-size: 1.4em;
}

#left {
    width: 25%;
    float: left;
    text-align: right;
    padding: 8em 3em 0 0;
    margin-bottom: 100em;
}
 
#right {
    padding: 7.9em 15em 0 0;
}
a:link {
    text-decoration: none;
}

#jobColorAnimation {
    color: rgb(165, 120, 127);
    animation: jobColorChange 3s infinite;
}
@keyframes jobColorChange {
    33% {color: rgb(155, 129, 81);}
    33% {color: rgb(122, 143, 80);}
}

#resumeColorAnimation {
    color:  rgb(122, 143, 80);
    animation: resumeColorChange 2s infinite;
}
@keyframes resumeColorChange {
    33% {color: rgb(155, 129, 81);}
    33% {color: rgb(165, 120, 127);}
}